<h3> Products </h3>

<div class="card m-5 p-3 shadow">
  <div class="card-body" *ngIf="products$ | async as products; else loading">
    <table class="table">
      <tbody>
        <tr [ngClass]="{'alert-danger': product.price <= 0 }" *ngFor="let product of products">
          <td>{{product.name}}</td>
          <td>{{product.price | currency}}</td>
          <td><button class="btn btn-warning m-2"[routerLink]="['/products', product.id]" >View details</button></td>
        </tr>
      </tbody>
    </table>
  </div>
  <ng-template #loading>
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </ng-template>
</div>
