<div class="container" *ngIf="!contactSent; else confirmationMessage">
  <form [formGroup]="contactForm" (submit)="submitForm()">

    <div class="form-group">
      <label for="email">Email</label>
      <input type="email"
      formControlName="email"
      class="form-control" name="email" id="email">
      <fp-error-message *ngIf="contactForm.touched" [messageMap] = "errorMessages" [error] = "contactForm.controls.email.errors"></fp-error-message>
    </div>

    <div class="form-group">
      <label for="message">Message (200 characters max.)</label>
      <textarea  rows="3"
      formControlName="message"
      class="form-control" name="message" id="message"></textarea>
      <fp-error-message *ngIf="contactForm.touched" [messageMap] = "errorMessages" [error] = "contactForm.controls.message.errors"></fp-error-message>
    </div>

    <div class="form-group">
      <button type="submit"
      [disabled]="!contactForm.valid">
        Save
      </button>
    </div>

    <div class="alert alert-danger" *ngIf="contactForm.invalid && contactForm.touched">Errors in form</div>

  </form>
</div>

<ng-template  #confirmationMessage>
  <div class="container">
    <div class="alert alert-success">Thank you for the message. We will respond as soon as possible.</div>
  </div>
</ng-template>
