<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="nav navbar-nav">
      <a class="nav-item nav-link" routerLink="/"> Home</a>
      <a class="nav-item nav-link" routerLink="/products"> Products</a>
      <a class="nav-item nav-link" routerLink="/contact"> Contact</a>
  </div>
</nav>
