<div>
  <button class="btn btn-primary" routerLink="../">Back</button>
</div>
<ng-container *ngIf="product$ | async as product">
  <div class="card m-5 h-100">
    <div class="card-body">
      <h4 class="card-title">{{product.name}}</h4>
      <p class="card-text">{{product.price | currency}}</p>
      <p class="card-text">{{product.description}}</p>
    </div>
  </div>
</ng-container>
